<a href="#acc-collection-{{ accordion_item_id }}" class="product-single__accordion__title js-accordion-trigger {{ classes }} {{ accordion_additional_class }}">
    <h5 class="product-single__accordion__title-text">{{ accordion_item_title }}</h5>
    <span class="product-single__accordion__title-icon">
        <span>+</span>
    </span>

</a>
<div id="acc-collection-{{ accordion_item_id }}" class="product-single__accordion__item js-accordion-info {{ classes }}">
    <div class="product-single__accordion__item-wrap rte">
        {{ accordion_item_content }}
    </div>
</div>
